@model IEnumerable<Clase12.Models.Movie>
@{
	ViewBag.Title = "Movies";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista Peliculas</h2>
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Movies</th>
			<th>Genero</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var movie in Model)
		{
		<tr>
			@*<td>@movie.Nombre</td>*@
			<td>@Html.ActionLink(movie.Nombre, "Edit", "Movies", new { id = movie.ID }, null)</td>
			<td>@movie.Genero</td>
			<td>@Html.ActionLink("Eliminar", "Eliminar", "Movies", new { id = movie.ID }, null)</td>
		</tr>
		}
	</tbody>
</table>


